body{
    background-image: url("IMMAGINI/GAME/animateBackground.gif");
}

img#titoloSelezione{
    position: absolute;
    left: 10.5%;
    top: 17%;
}

div#navicelle{
    position: absolute;
    top: 45%;
    left: 9.5%;
    width: 85%;
    height: 40%;
}

div#navicelle div{
    margin-right: 80%;
}

img#nav1{
    margin-left: 10%;
    margin-top: 11%;
}

img#nav2{
    margin-left: 13.5%;
    margin-top: 12%;
}

img#nav3{
    margin-left: 8%;
    margin-top: 12%;
}

img#nav4{
    margin-left: 14.5%;
    margin-top: 12%;
}

div#divNav1, div#divNav2, div#divNav3, div#divNav4{
    width: 180px;
    height: 210px;
    border-radius: 20%;
}

div#divNav1{
    position: absolute;
    top: 0%;
    left: 11%;
}

div#divNav2{
    position: absolute;
    top: 0%;
    left: 29%;
}

div#divNav3{
    position: absolute;
    top: 0%;
    left: 48%;
}

div#divNav4{
    position: absolute;
    top: 0%;
    left: 65%;
}

div#divNav1 p{
    color: white;
    text-shadow: 2px 2px 4px blue;
    font-family: "Eras ITC";
    font-size: 22px;
    font-weight: bold;
    margin-left: 27.5%;
    margin-top: 10px;
}

div#divNav2 p{
    color: white;
    text-shadow: 2px 2px 4px blue;
    font-family: "Eras ITC";
    font-size: 22px;
    font-weight: bold;
    margin-left: 27.5%;
    margin-top: 23px;
}

div#divNav3 p{
    color: white;
    text-shadow: 2px 2px 4px red;
    font-family: "Eras ITC";
    font-size: 22px;
    font-weight: bold;
    margin-left: 25%;
    margin-top: 10.5px;
}

div#divNav4 p{
    color: white;
    text-shadow: 2px 2px 4px black;
    font-family: "Eras ITC";
    font-size: 22px;
    font-weight: bold;
    margin-left: 23%;
    margin-top: 25px;
}

div.bordoNav{
    background-color:rgb(119, 119, 119);
    border: 2px solid white;
    /*background: radial-gradient(circle, rgba(255,233,233,1) 0%, rgba(221,127,127,1) 49%, rgba(255,0,0,1) 100%);*/
}